In [1]:
#import dependencies
import pandas as pd
import numpy as np
import seaborn as sns 
import warnings
from geopy.geocoders import Nominatim #for going from loctaion to coordinates (lan/lon)
from geopy.exc import GeocoderTimedOut

# Data Cleaning

In [2]:
#reading the csv file into a dataframe 
shootings_df = pd.read_csv('usmassdata.csv', encoding='latin-1')
shootings_df.head()

,Case,Location,Date,Year,Summary,Fatalities,Injured,Total victims,Venue,Prior signs of mental health issues,...,Where obtained,Type of weapons,Weapon details,Race,Gender,Sources,Mental Health Sources,latitude,longitude,Type
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,TBD,semiautomatic rifle; shotgun,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,NaN,NaN,Mass
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,A Florida pawn shop,semiautomatic rifle,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,NaN,NaN,Mass
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,TBD,semiautomatic rifle and semiautomatic handgun,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,NaN,NaN,Mass
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,TBD,semiautomatic rifles,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,NaN,NaN,Spree
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Purchased in April 2016 from an Academy Sports...,semiautomatic rifle,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,32.780105,-96.800008,Mass

In [3]:
#testing for Geopy to retrieve (latitude , longitude) based on the "Location" field of the dataframe 
test_address = "Sutherland Springs, TX"
geolocator = Nominatim()
try:
    location = geolocator.geocode(test_address)
    print((location.latitude, location.longitude))
except GeocoderTimedOut as e:
    print("Error: geocode failed on input %s with message %s"%(test_address, e.message))

(29.2740444, -98.0559057)

In [4]:
# Loop through the dataframe to check if the latitude is missing. 
# If the Latitue is a "NaN" then update the (Lat, Lon) data from Geopy

for index, row in shootings_df.iterrows():
    if(pd.isnull(row['latitude'])):
        geolocator=Nominatim(timeout=3)
        try:
            location = geolocator.geocode(row['Location'])
            shootings_df.loc[index, 'latitude']= location.latitude
            shootings_df.loc[index, 'longitude']= location.longitude
        except GeocoderTimedOut as e:
            print("Error: geocode failed on input %s with message %s"%(row['Location'], e.message))

In [5]:
# adding redults to another dataframe so that there is no confusion when referencing for Database creation 
complete_shootings_df = shootings_df
complete_shootings_df.head()

,Case,Location,Date,Year,Summary,Fatalities,Injured,Total victims,Venue,Prior signs of mental health issues,...,Where obtained,Type of weapons,Weapon details,Race,Gender,Sources,Mental Health Sources,latitude,longitude,Type
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,TBD,semiautomatic rifle; shotgun,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,38.395445,-122.360173,Mass
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,A Florida pawn shop,semiautomatic rifle,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,26.310079,-80.237270,Mass
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,TBD,semiautomatic rifle and semiautomatic handgun,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,40.052018,-79.389202,Mass
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,TBD,semiautomatic rifles,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,39.993786,-122.471880,Spree
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Purchased in April 2016 from an Academy Sports...,semiautomatic rifle,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,32.780105,-96.800008,Mass

In [6]:
# list of all column headers
list(complete_shootings_df)

['Case',
 'Location',
 'Date',
 'Year',
 'Summary',
 'Fatalities',
 'Injured',
 'Total victims',
 'Venue',
 'Prior signs of mental health issues',
 'Mental health - details',
 'Weapons obtained legally',
 'Where obtained',
 'Type of weapons',
 'Weapon details',
 'Race',
 'Gender',
 'Sources',
 'Mental Health Sources',
 'latitude',
 'longitude',
 'Type']

In [7]:
#rename column headers so that there are no spaces & better usability

complete_shootings_df = complete_shootings_df.rename(columns={'Case': 'case', 
                                        'Location': 'location', 
                                        'Date': 'date', 
                                        'Year': 'year', 
                                        'Summary': 'summary', 
                                        'Fatalities': 'fatalities', 
                                        'Injured': 'injured', 
                                        'Total victims': 'total_victims', 
                                        'Venue': 'venue', 
                                        'Prior signs of mental health issues': 'prior_signs_mental_health', 
                                        'Mental health - details': 'mental_health', 
                                        'Weapons obtained legally': 'weapons_obtained_legally', 
                                        'Where obtained': 'where_obtained',
                                        'Type of weapons': 'type_weapon', 
                                        'Weapon details': 'weapon_details', 
                                        'Race': 'race', 
                                        'Gender': 'gender', 
                                        'Sources': 'sources', 
                                        'Mental Health Sources': 'mental_health_sources', 
                                        'Type': 'shooting_type'})

complete_shootings_df.head()

,case,location,date,year,summary,fatalities,injured,total_victims,venue,prior_signs_mental_health,...,where_obtained,type_weapon,weapon_details,race,gender,sources,mental_health_sources,latitude,longitude,shooting_type
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,TBD,semiautomatic rifle; shotgun,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,38.395445,-122.360173,Mass
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,A Florida pawn shop,semiautomatic rifle,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,26.310079,-80.237270,Mass
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,TBD,semiautomatic rifle and semiautomatic handgun,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,40.052018,-79.389202,Mass
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,TBD,semiautomatic rifles,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,39.993786,-122.471880,Spree
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Purchased in April 2016 from an Academy Sports...,semiautomatic rifle,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,32.780105,-96.800008,Mass

In [8]:
# recheck column headers
complete_shootings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 22 columns):
case                         98 non-null object
location                     98 non-null object
date                         98 non-null object
year                         98 non-null int64
summary                      98 non-null object
fatalities                   98 non-null int64
injured                      98 non-null object
total_victims                98 non-null object
venue                        98 non-null object
prior_signs_mental_health    98 non-null object
mental_health                87 non-null object
weapons_obtained_legally     98 non-null object
where_obtained               86 non-null object
type_weapon                  98 non-null object
weapon_details               91 non-null object
race                         96 non-null object
gender                       98 non-null object
sources                      98 non-null object
mental_health_sources        76 non-null object
latitude                     98 non-null float64
longitude                    98 non-null float64
shooting_type                98 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 16.9+ KB

In [9]:
list(complete_shootings_df)

['case',
 'location',
 'date',
 'year',
 'summary',
 'fatalities',
 'injured',
 'total_victims',
 'venue',
 'prior_signs_mental_health',
 'mental_health',
 'weapons_obtained_legally',
 'where_obtained',
 'type_weapon',
 'weapon_details',
 'race',
 'gender',
 'sources',
 'mental_health_sources',
 'latitude',
 'longitude',
 'shooting_type']

In [10]:
#update the new dataframe with city/state split from location
complete_shootings_df[['city', 'state']] = complete_shootings_df.location.str.split(',', expand = True)
complete_shootings_df.head()

,case,location,date,year,summary,fatalities,injured,total_victims,venue,prior_signs_mental_health,...,weapon_details,race,gender,sources,mental_health_sources,latitude,longitude,shooting_type,city,state
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,38.395445,-122.360173,Mass,Yountville,CA
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,26.310079,-80.237270,Mass,Parkland,Florida
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,40.052018,-79.389202,Mass,Melcroft,PA
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,39.993786,-122.471880,Spree,Rancho Tehama,CA
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,32.780105,-96.800008,Mass,Sutherland Springs,TX

In [11]:
complete_shootings_df.state.value_counts()

 California        14
 Florida           10
 Texas              7
 Washington         6
 Colorado           5
 New York           4
 Wisconsin          4
 CA                 3
 Connecticut        3
 Illinois           2
 North Carolina     2
 Ohio               2
 Georgia            2
 Minnesota          2
 Michigan           2
 South Carolina     2
 Oregon             2
 PA                 2
 Kentucky           2
 Massachusetts      1
 CO                 1
 Tennessee          1
 Missouri           1
 Oklahoma           1
 Mississippi        1
 LA                 1
 Nebraska           1
 WA                 1
 Pennsylvania       1
 Iowa               1
 TX                 1
 NV                 1
 Virginia           1
 Arizona            1
 Hawaii             1
 MD                 1
 Arkansas           1
 Utah               1
 Kansas             1
 D.C.               1
 Nevada             1
Name: state, dtype: int64

In [12]:
# Condense all "White"
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('CA', 'California'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('PA', 'Pennsylvania'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('D.C.', 'Washington D.C.'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('TX', 'Texas'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('LA', 'Louisiana'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('WA', 'Washington'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('NV', 'Nevada'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('MD', 'Maryland'))
complete_shootings_df.state = complete_shootings_df.state.apply(lambda x: x.replace('CO', 'Colorado'))

# print
complete_shootings_df.state.value_counts()

 California         17
 Florida            10
 Texas               8
 Washington          7
 Colorado            6
 Wisconsin           4
 New York            4
 Pennsylvania        3
 Connecticut         3
 Georgia             2
 Oregon              2
 South Carolina      2
 Michigan            2
 Kentucky            2
 North Carolina      2
 Illinois            2
 Nevada              2
 Ohio                2
 Minnesota           2
 Virginia            1
 Arkansas            1
 Louisiana           1
 Utah                1
 Washington D.C.     1
 Mississippi         1
 Missouri            1
 Tennessee           1
 Iowa                1
 Oklahoma            1
 Hawaii              1
 Maryland            1
 Massachusetts       1
 Kansas              1
 Arizona             1
 Nebraska            1
Name: state, dtype: int64

In [13]:
#clean up dataframe columns
complete_shootings_df.race.value_counts()

white              41
White              15
black               9
Asian               8
Black               7
Latino              7
Other               5
Native American     3
unclear             1
Name: race, dtype: int64

In [14]:
complete_shootings_df['race'].replace(['white', 'black', 'unclear'], 
                                      ['White', 'Black', 'Unknown'], inplace=True)


complete_shootings_df.race.value_counts()

White              56
Black              16
Asian               8
Latino              7
Other               5
Native American     3
Unknown             1
Name: race, dtype: int64

In [15]:
complete_shootings_df.gender.value_counts()

Male             70
M                25
Female            2
Male & Female     1
Name: gender, dtype: int64

In [16]:
complete_shootings_df['gender'].replace(['M'], 
                                      ['Male'], inplace=True)

complete_shootings_df.gender.value_counts()

Male             95
Female            2
Male & Female     1
Name: gender, dtype: int64

In [17]:
complete_shootings_df.venue.value_counts()

Other          39
Workplace      28
School         16
Military        5
Religious       5
Other\r         3
\rWorkplace     1
Airport         1
Name: venue, dtype: int64

In [18]:
complete_shootings_df['venue'].replace(['Other\r', '\rWorkplace'], 
                                      ['Other', 'Workplace'], inplace=True)

complete_shootings_df.venue.value_counts()

Other        42
Workplace    29
School       16
Military      5
Religious     5
Airport       1
Name: venue, dtype: int64

In [19]:
complete_shootings_df.prior_signs_mental_health.value_counts()

Yes        53
Unclear    24
No         17
TBD         3
Unknown     1
Name: prior_signs_mental_health, dtype: int64

In [20]:
complete_shootings_df['prior_signs_mental_health'].replace(['Unclear'], 
                                      ['Unknown'], inplace=True)


complete_shootings_df.prior_signs_mental_health.value_counts()

Yes        53
Unknown    25
No         17
TBD         3
Name: prior_signs_mental_health, dtype: int64

In [21]:
complete_shootings_df.weapons_obtained_legally.value_counts()

Yes                                                                                                                                    67
No                                                                                                                                     15
TBD                                                                                                                                     6
Unknown                                                                                                                                 6
\rYes                                                                                                                                   2
Yes ("some of the weapons were purchased legally and some of them may not have been")                                                   1
Kelley passed federal criminal background checks; the US Air Force failed to provide information on his criminal history to the FBI     1
Name: weapons_obtained_legally, dtype: int64

In [22]:

complete_shootings_df['weapons_obtained_legally'].replace(['\rYes', 'Yes ("some of the weapons were purchased legally and some of them may not have been")', 'Kelley passed federal criminal background checks; the US Air Force failed to provide information on his criminal history to the FBI'], 
                                      ['Yes','Yes','Unknown'], inplace=True)


complete_shootings_df.weapons_obtained_legally.value_counts()

Yes        70
No         15
Unknown     7
TBD         6
Name: weapons_obtained_legally, dtype: int64

In [23]:
complete_shootings_df['total_victims'].replace(['758+','11 (dozens more were reportedly injured in the panic)', '46+'], 
                                      ['758','11','46'], inplace=True)


# complete_shootings_df.total_victims.value_counts()

In [24]:
complete_shootings_df['injured'].replace(['700+'], 
                                      ['700'], inplace=True)


# complete_shootings_df.injured.value_counts()

In [25]:
# !pip install wordcloud
# import matplotlib.pyplot as plt
# from subprocess import check_output
# from wordcloud import WordCloud, STOPWORDS
# stopwords = set(STOPWORDS)

In [26]:
# wordcloud = WordCloud(
#                           background_color='black',
#                           stopwords=stopwords,
#                           max_words=200,
#                           max_font_size=40, 
#                          random_state=42
#                          ).generate(str(complete_shootings_df['summary']))

# plt.figure(figsize=(12,8))
# plt.imshow(wordcloud)
# plt.axis('off')
# plt.show()

In [27]:
# GUN LAWS BY STATE

In [28]:
#reading the csv file into a dataframe 
gun_laws_df = pd.read_csv('gunlawsbystate.csv', encoding='latin-1')
gun_laws_df.head()

,state,year,age18longgunpossess,age18longgunsale,age21handgunpossess,age21handgunsale,age21longgunpossess,age21longgunsale,age21longgunsaled,alcoholism,...,universal,universalh,universalpermit,universalpermith,violent,violenth,violentpartial,waiting,waitingh,lawtotal
0,Alabama,2016,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,10
1,Alaska,2016,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,Arizona,2016,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
3,Arkansas,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4,California,2016,0,1,0,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,104

In [37]:
# Remove trailing whitespace from state column
complete_shootings_df.state = complete_shootings_df.state.map(lambda x : x.strip())

In [43]:
merged_df = pd.merge(complete_shootings_df, gun_laws_df, on="state")
# test_df[test_df['state'] == "California"]

In [30]:
gun_laws_df[gun_laws_df['state'] == "California"]

,state,year,age18longgunpossess,age18longgunsale,age21handgunpossess,age21handgunsale,age21longgunpossess,age21longgunsale,age21longgunsaled,alcoholism,...,universal,universalh,universalpermit,universalpermith,violent,violenth,violentpartial,waiting,waitingh,lawtotal
4,California,2016,0,1,0,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,104

In [31]:
complete_shootings_df['fatalities'].sum()

819

In [44]:
merged_df.head()

,case,location,date,year_x,summary,fatalities,injured,total_victims,venue,prior_signs_mental_health,...,universal,universalh,universalpermit,universalpermith,violent,violenth,violentpartial,waiting,waitingh,lawtotal
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,1,1,1,1,1,1,1,1,1,104
1,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,1,1,1,1,1,1,1,1,1,104
2,San Francisco UPS shooting,"San Francisco, CA",6/14/17,2017,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,Workplace,Yes,...,1,1,1,1,1,1,1,1,1,104
3,Fresno downtown shooting,"Fresno, California",4/18/17,2017,"Kori Ali Muhammad, 39, opened fire along a str...",3,0,3,Other,Unknown,...,1,1,1,1,1,1,1,1,1,104
4,San Bernardino mass shooting,"San Bernardino, California",12/2/15,2015,Syed Rizwan Farook left a Christmas party held...,14,21,35,Workplace,Unknown,...,1,1,1,1,1,1,1,1,1,104

In [45]:
updated_df = merged_df[["state", "fatalities", "injured", "total_victims","weapons_obtained_legally", "where_obtained", "lawtotal"]]

In [46]:
updated_df.head()

,state,fatalities,injured,total_victims,weapons_obtained_legally,where_obtained,lawtotal
0,California,3,0,3,Yes,TBD,104
1,California,5,10,15,No,TBD,104
2,California,3,2,5,No,Unclear; the firearm was stolen in Utah. A sec...,104
3,California,3,0,3,Unknown,NaN,104
4,California,14,21,35,Yes,The suspects purchased their handguns in the U...,104

In [51]:
updated_df.mean()

fatalities     8.319588
lawtotal      43.927835
dtype: float64

In [49]:
updated_df.to_csv('updated1.csv')

In [ ]:
updated_df.shape

In [ ]:
import seaborn as sns

In [ ]:
f, ax = pl.subplots(figsize=(10, 8))
corr = updated_df.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)

# Database Creation

In [ ]:
# # Python SQL toolkit and Object Relational Mapper
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect

In [ ]:
# Create an engine to a SQLite database file called `shootings.sqlite`
# engine = create_engine("sqlite:///shootings.sqlite")

In [ ]:
# Assign the shootings class to a variable called `Shootings`
# Shootings = Base.classes.shootings

In [ ]:
# Create a session
# session = Session(engine)

In [ ]:
# Create a connection to the engine called `conn`
# conn = engine.connect()

In [ ]:
# Use `create_all` to create the shootings table in the database
# Base.metadata.create_all(engine)

In [ ]:
#append data from csv created df to correct classes(tables)
# complete_shootings_df.to_sql('shootings', engine, if_exists='append', index=False)

In [ ]:
# # Create the inspector and connect it to the engine
# inspector = inspect(engine)
# # Collect the names of tables within the database
# inspector.get_table_names()

In [ ]:
# # Using the inspector to print the column names within the 'dow' table and its types
# columns = inspector.get_columns('shootings')
# for column in columns:
#     print(column["name"], column["type"])